@import "tailwindcss";
@theme {
  --color-cream-primary: #fbfbf2;
  --color-primary: #012970;
  --color-btn: #1d4ed8;
}

@layer components {
  .active {
    @apply bg-blue-100 transition;
  }
  .nav-link {
    @apply flex items-center gap-3 p-3 rounded-lg font-medium text-primary hover:bg-blue-100 transition;
  }
  .logout-link {
    @apply flex items-center gap-3 p-3 rounded-lg text-red-600 hover:bg-red-100 transition mt-6;
  }

  .delete-btn {
    @apply hover:bg-red-100 transition-all duration-300 p-1 w-full rounded-lg;
  }
}

::-webkit-scrollbar {
  display: none;
}
